.pt-5,
.py-5 {
  padding-top: 0rem !important;
}

.mt-5,
.my-5 {
  margin-top: 2rem !important;
}

html,
body,
header,
.view {
  height: 100%;
}

/* @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1400px;
      }
    } */

/* @media (min-width: 560px) and (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1200px;
      }
    } */

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 950px;
  }
}

.intro-2 {
  background: #000000;
}

/* .top-nav-collapse {
      background-color: #3f51b5 !important;
    } */

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  /* .navbar:not(.top-nav-collapse) {
        background: #3f51b5 !important;
      } */
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
}

h6 {
  line-height: 1.7;
}

.nomargin {
  margin: 0;
}
.nopadding {
  padding: 0;
}

.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.text-12 {
  font-size: 12px;
}
.text-13 {
  font-size: 13px;
}
.text-14 {
  font-size: 14px;
}
.text-15 {
  font-size: 15px;
}
.text-16 {
  font-size: 16px;
}
.text-17 {
  font-size: 17px;
}
.text-18 {
  font-size: 18px;
}
.text-19 {
  font-size: 19px;
}
.text-20 {
  font-size: 20px;
}
.text-21 {
  font-size: 21px;
}
.text-22 {
  font-size: 22px;
}

.text-gray {
  color: #45453f;
}
