.rgba-gradient {
      background: -webkit-linear-gradient(98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
      background: -webkit-gradient(linear, 98deg, from(rgba(22, 91, 231, 0.5)), to(rgba(255, 32, 32, 0.5)));
      background: linear-gradient(to 98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
    }
     body {
      margin: 0;
      padding: 0; 
      background: -webkit-linear-gradient(98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
      background: -webkit-gradient(linear, 98deg, from(rgba(22, 91, 231, 0.5)), to(rgba(255, 32, 32, 0.5)));
      background: -o-linear-gradient(98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
      background: linear-gradient(to 98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
    }
.semi-bold { font-weight: 600; }
.bold { font-weight: 700; }
.top-logo { height: 160px; padding-top:25px; }

.user-img img { border: 2px solid #8984ae; }
.user-img h2 { font-weight: 600; margin-top: 16px; }

.padding-top-8 { padding-top: 8px; }
.padding-top-25 { padding-top: 25px; }
.padding-bottom-15 { padding-bottom: 15px; }
.products-count { margin-top: 20px; font-weight: 600; margin-bottom: 0px; }

@media (min-width: 1441px) {
	.d-top-nav { display: none; }
	.container-top-shift { margin-top: -40px; }

 }
@media (min-width: 1225px) {
 .white-skin .side-nav{transform: translateX(0%) !important;}
 .fixed-sn .double-nav, .fixed-sn footer, .fixed-sn main {
    padding-left: 255px !important;
}
}
 .search-box h2 { text-transform: uppercase; color: #0c2a46; font-size: 20px; font-weight: 600; margin-bottom: 15px; }
 .filter h2 { text-transform: uppercase; color: #0c2a46; font-size: 20px; font-weight: 600; margin-top: 25px; margin-bottom: 0px; }
 .filter p { color: #0c2a46; font-size: 14px; font-weight: 600; }
 .filter-line { border-color: #555555; margin-top: 0px; }
 .filter-btn { padding-bottom: 10px; padding-left: 20px; padding-right: 20px; }

 .seven-cols { padding-left: 30px; padding-right: 30px; }

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

.filtered-products { margin-left: 20px; margin-right: 20px; margin-top: 30px; }
.filtered-products h2 { font-size: 18px !important; font-weight: 600; text-align: left !important; color: #737273 !important; margin-top: 10px !important; }
.filtered-products span { padding-top: 6px; }
.filtered-products a:link { color: #737273; text-decoration: none; }
.filtered-products a:visited { color: #737273; text-decoration: none; }
.filtered-products a:hover { color: #5f5a93; text-decoration: none; }

.filter-options p { font-weight: 600; margin: 4px; }
.filter-options-control { margin-left: 20px; margin-right: 20px; margin-top: 20px; }
.text-purple { color: #3b0056; }
.text-darkpurple { color: #200a2d; }
.text-lightpurple { color: #635293; }
.text-green { color: #37605f; }
.text-blue { color: #062946; }
.text-gray { color: #b2b2b2; }
.text-pink { color: #560347; }
.background-color-white { background-color: #fff}

 /* Style the search field */
form.searchproducts input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: 2px solid #0c2a46;
  float: left;
  width: 80%;
  background: #ffffff;
}

/* Style the submit button */
form.searchproducts button {
  float: left;
  width: 20%;
  padding: 6px;
  background: #0c2a46;
  color: white;
  font-size: 17px;
  border: 2px solid #0c2a46;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.searchproducts button:hover {
  background: #3e1a57;
  border: 2px solid #3e1a57;
}

/* Clear floats */
form.searchproducts::after {
  content: "";
  clear: both;
  display: table;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}
.side-nav.fixed{overflow: hidden !important;}
.side-nav.fixed .custom-scrollbar{overflow-x: hidden; overflow-y: auto;padding-bottom: 40px;}
.fixedPosition
      {
        position: fixed;
      }

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}